.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  padding-top: 10px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: #4b4472;
  display: flex;
  justify-content: center;
}

.App-title {
  padding-left: 10px;
  font-weight: lighter;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input[type="text"],
input[type="email"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  outline: none;
  background: transparent;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #fa6a6b;
  color: #fa6a6b;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: rgb(33,150,174);;
  border: none;
  border-radius: 25px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.phone-number-input{
  margin: 0 3em;
}